body {
    font-family: Arial, system-ui;
    text-align: center;
}
header {
    background-color: #222;
    color: white;
    padding: 20px;
    font-size: 24px;
}
button {
    padding: 10px;
    margin: 10px;
    background: blue;
    color: white;
    border: none;
}
